.rodape{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E0D0D;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}